* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #030106;
  width: 400px;
  height: 550px;
  padding: 10px;
  margin: 0px;
  color: white;
}

.loading {
  display: none;
}

.heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.glass {
  background: rgba(3, 1, 6, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.wrapper-1 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.wrapper-1 > div {
  padding: 15px 35px;
}

.wrapper-2 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.wrapper-2 > div {
  width: 32%;
  height: 100px;
  text-align: center;
  padding: 10px 5px;
}
#price {
  text-align: right;
}
#low {
  color: green;
}
#avg {
  color: yellow;
}

#fast {
  color: red;
}
#time {
  text-align: left;
  color: yellow;
}

.speedo {
  width: 200px;
  height: 90px;
  margin: 30px auto 10px auto;
  overflow: hidden;
}

.face {
  width: 200px;
  height: 200px;
  border: solid 40px #fff;
  border-radius: 50%;
  position: relative;
}

.needle {
  width: 5px;
  height: 80px;
  background: #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: inline-block;
  left: 55px;
  position: absolute;
  top: -33px;
  transform-origin: bottom;
}

.wrapper-3 > h2 {
  padding: 5px;
  text-align: center;
}
